<div class="calendar-container">
    <div class="calendar-header">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a month and year" [(ngModel)]="selectedYearMonth" readonly (ngModelChange)="onSelectedYearMonthChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year">
            </mat-datepicker>
          </mat-form-field>
      {{ selectedYearMonth | date: 'MMMM yyyy' }}
    </div>
    <div class="days-header">
      <div *ngFor="let day of days" class="day">{{ day }}</div>
    </div>
    <div class="calendar-body">
      <div class="day-cell" *ngFor="let day of getDaysInMonth(selectedYearMonth)">
        <div class="day-number">{{ day.getDate() }}</div>
        <div class="orders">
          <div *ngFor="let order of getOrdersForDay(day)" class="order-group" (click)="onOrderClick(order)">
            <mat-card class="order-card">
              <div>{{ order.username }} {{ order.date | date: 'hh:mm a' }}</div>
              <div></div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>